.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 0.05em solid gray;
    border-radius: 0.2em;
    padding: 1.2em;
    outline: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        margin: 0;
    }
}

.close-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 1em;
}

.modal-content {
    margin-top: 0.5em;

    h5 {
        margin: 0;
    }
}
